In [1]:
import pandas as pd

## Load the data

In [2]:
data = pd.read_csv('data/Bank_Personal_Loan_Modelling.csv')
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1/60,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1/50,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1/00,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2/70,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1/00,2,0,0,0,0,0,1

### Dataset description

- ID: ID of the customer

- Age: Age of the customer in completed years

- Experience: Amount of work experience in years

- Income: Amount of annual income (in thousands)

- Zipcode: Postal code in which the client lives

- Family: Number of family members

- CCAvg: Average monthly spending with the credit card (in thousands)

- Education: Education level (1: bachelor's degree, 2: master's degree, 3: advanced/professional degree)

- Mortgage: Value of home mortgage, if any (in thousands)

- Securities Account: Does the customer have a securities account with the bank?

- CD Account: Does the customer have a certificate of deposit account (CD) with the bank?

- Online: Does the customer use the internet banking facilities?

- CreditCard: Does the customer use a credit card issued by the bank?

TARGET -----> Personal Loan: Did this customer accept the personal loan offered in the last campaign?

## Dataset cleaning

## Models

## Submission instructions

Each student must submit their predictions in a CSV file, following these guidelines:

1. File Name:
- Name your CSV file as `group_number_predictions.csv` (replace `group` with your actual group number).
  - Example: `group1_predictions.csv`.

In [ ]:
# Replace with your model prediction code
predictions = model.predict(X_test)  

# Create a DataFrame for predictions
output = pd.DataFrame({
    'Prediction_grup_number': predictions
})

# Save predictions to CSV (without index)
output.to_csv('student_group_number.csv', index=False)

The file should look like this:
```
Predictions Group 1
0
1
0
1
0
...
```

2. Important Notes:
- Make sure the number of predictions in your file matches the number of rows in the test dataset provided.
- Ensure that your predictions are in the same order as the dataset.